---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from '../components/Button';
import BuyList from '../components/BuyList.tsx';
import Cars from '../components/Cars.tsx';
---
<div class="cont">
	 <Cars/>
</div>

<style>
.cont {
	display: flex;
	flex-direction: column;
	align-items: center; 
	justify-content: center; 
	height: 100vh; 
}
</style>


